html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Hero Section */
.hero-section {
    padding: 100px 0;
}

/* Featured Movies */
.featured-movies .card {
    transition: transform 0.3s;
}

    .featured-movies .card:hover {
        transform: scale(1.05);
    }

/* Genres Section */
.genres-section .card {
    transition: transform 0.3s;
}

    .genres-section .card:hover {
        transform: scale(1.05);
    }